/* set general font-family to Helvetica*/

p, h1, h2, h3, span {
    font-family: Helvetica;
}

/* used banner backgrounding instead of h1 */
.banner {
    background: url("../images/pattern.jpeg");
    text-align: center;
}

div {
    text-align: left;
}

h1 {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

/* used definite div's h2 */
#brushes h2 {
    background-color: mediumspringgreen;
}

#frames h2 {
    background-color: lightcoral;
}

#paint h2 {
    background-color: skyblue;
}

.pricing {
    font-weight: bold;
    color: blue;
}